<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ie.tcd.guineec.inventorymanager">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".scanner">
            <intent-filter>
                <action android:name="android.intent.action.THIRD" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".add_indiv">
            <intent-filter>
                <action android:name="android.intent.action.FOURTH" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".useScannerResult">
            <intent-filter>
                <action android:name="android.intent.action.FIFTH" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".useScannerResultAddIndividual">
            <intent-filter>
                <action android:name="android.intent.action.FIFTH" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".useScannerResultAddProject">
            <intent-filter>
                <action android:name="android.intent.action.FIFTH" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    <activity android:name=".ProjectOptions">
        <intent-filter>
            <action android:name="android.intent.action.SIXTH" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity android:name=".Myprojects" />
    <activity android:name=".ObjsByDate"/>
        <activity android:name=".Search" />
        <activity android:name=".SearchResult" />


        <activity android:name=".AddProject">
        <intent-filter>
            <action android:name="android.intent.action.SEVENTH" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity android:name=".ObjectOptions">
        <intent-filter>
            <action android:name="android.intent.action.SEVENTH" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
        <activity android:name=".RegisterActivity">
            <intent-filter>
                <action android:name="android.intent.action.SIXTH" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ObjectOptionsSelected">
            <intent-filter>
                <action android:name="android.intent.action.Eighth" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>